<style>  
label,input {
    font: normal 14px roboto !important;
}
.field_with_errors{background-color: transparent;}
#error_explanation{background-color: transparent;}

</style>


<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :name, class:"mdl-textfield__input", id:"name_t" %>
        <%= f.label :name, class:"mdl-textfield__label", for:"name_t" %>
  </div>

<div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :type, class:"mdl-textfield__input", id:"type_t" %>
        <%= f.label :type, class:"mdl-textfield__label", for:"type_t" %>
  </div>

<div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :usage, class:"mdl-textfield__input", id:"usage_t" %>
        <%= f.label :usage, class:"mdl-textfield__label", for:"usage_t" %>
  </div>
<div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :side_effects, class:"mdl-textfield__input", id:"side_effects_t" %>
        <%= f.label :side_effects, class:"mdl-textfield__label", for:"side_effects_t" %>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.text_field :quantity, class:"mdl-textfield__input", pattern:"-?[0-9]*(\.[0-9]+)?", id:"quantity_t" %>
        <%= f.label :quantity,class:"mdl-textfield__label", for:"quantity_t" %>
            <span class="mdl-textfield__error">Input is not a number!</span>


  </div>
  
  
</label>
  <div class="actions">
    <%= f.submit 'Save', class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    <%= link_to 'Back', medicines_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>
<% end %>
