<p id="notice"><%= notice %></p>

<h1>Listing Medicines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Availability</th>
      <th>Quantity</th>
      <th>Usage</th>
      <th>Side effects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.name %></td>
        <td><%= medicine.availability %></td>
        <td><%= medicine.quantity %></td>
        <td><%= medicine.usage %></td>
        <td><%= medicine.side_effects %></td>
        <td><%= link_to 'Show', medicine %></td>
        <td><%= link_to 'Edit', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine', new_medicine_path %>
