<style>  
h5{
    font: normal 20px roboto !important;
}
td,tr {
	    font: normal 12px roboto !important;

	}


</style>
<section>



	<div class="demo-grid-1 mdl-grid">
		<div class="mdl-cell mdl-cell--1-col" >

</div>
<div class="mdl-cell mdl-cell--2-col" >
  					    				<h5>Insert New Patient</h5>

</div>
<div class="mdl-cell mdl-cell--1-col" >
</div>
  		<div class="mdl-cell mdl-cell--4-col " >
			
    		<%@patient = Patient.new%>
  			<%= render 'patients/form' %>

		</div>
	</div>
  <section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="demo-grid-1 mdl-grid">
      <div class="mdl-cell mdl-cell--6-col" >
      <h5>OR</h5>
    </div>
  </div>
</section>
</section>
  <div class="demo-grid-1 mdl-grid">
      <div class="mdl-cell mdl-cell--1-col" >

</div>
<div class="mdl-cell mdl-cell--2-col" >
                        <h5>Choose a Patient</h5>

</div>
<div class="mdl-cell mdl-cell--1-col" >
</div>
      <div class="mdl-cell mdl-cell--4-col" >
            <table id="index-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th>Age</th>
                  <th class="mdl-data-table__cell--non-numeric">First Check In</th>
                  <th></th>

                </tr>
              </thead>

            <tbody>
              <% Patient.all.each do |patient| %>
                <tr>
                  
                  <td class="mdl-data-table__cell--non-numeric" style="font-size:12px;"><%= patient.name %></td>

                  <td style="font-size:12px;"><%= patient.age %></td>
                  <td class="mdl-data-table__cell--non-numeric" style="font-size:12px;"><%= patient.first_check_in %></td>
                  <td><%= link_to 'Choose', choose_path(:patient => patient.id),class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored",style:"bottom:8px;text-decoration:none;font-size:12px;" %></td>

                </tr>
              <% end %>
            </tbody>
          </table>


        
    </div>
  </div>
<script type="text/javascript">$(document).ready(function(){
    $('#index-table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "bPaginate": false,
    "bFilter": true,
    "bSort": true,
    "aaSorting": [
      [0, "asc"]
    ],
    "aoColumnDefs": [{
      "bSortable": true,
      "aTargets": [0,1]
    }, {
      "bSortable": false,
      "aTargets": [2,3]
    },{
      "bSearchable": false, 
      "aTargets": [ 2,3 ]

    }],
  "oLanguage": { "sSearch": "" } ,
         "bInfo" : false


  });
});</script>