  <style>  
label,input {
    font: normal 12px roboto !important;
}
h5{
    font: normal 20px roboto !important;
}
td,tr {
      font: normal 12px roboto !important;

  }
.field_with_errors{background-color: transparent;}
#error_explanation{background-color: transparent;}
</style>         
<div class="demo-grid-1 mdl-grid">
  
  
  <div class="mdl-cell mdl-cell--3-col" >
    <h5>Prescription</h5>
    <%@entries = MedTableEntry.where(med_table_id: @medtable_id) %>
    <%if @entries.nil? || @entries.empty?%>
    No prescriptions yet
    <%else%>
    <table id="pre-table" class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Instructions</th>

      <th></th>

    </tr>
  </thead>
  <tbody>

    
      <%@entries.each do |e|%>
      <tr>
       <td>
        <%= e.medicine.name %>
      </td>
      <td>
        <%= e.instruction%>
      </td>
       
 <% if false %>
       
       <td>



<%= link_to(
      url_for(
        :controller => :paper, :action => :editmed,
         :patient=> @patient_id,:medtableid=> @medtable_id,:med_table_entry_id => e.id
      ),
      :method => :get,remote: true ,class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", style:"bottom:8px;text-decoration:none;font-size:12px;")  do %>
       

Edit
        <% end %></td><%end%>
      <td><%= link_to(
      url_for(
        :controller => :paper, :action => :delete_entry,
         :patient=> @patient_id,:medtableid=> @medtable_id,:med_table_entry_id => e.id
      ),
      :method => :post,data: { confirm: 'Are you sure?' },class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", style:"bottom:8px;text-decoration:none;font-size:12px;")  do %>
       

Delete
        <% end %>
       
      </td>
     
     </tr>
       
    <%end%>
  </tbody>
</table>
<%= form_tag('/paper/download_pdf.pdf') do -%>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= text_field_tag :date, nil, class:"mdl-textfield__input" %>
    <%= label_tag :date, "Date", {id:"te",class:"mdl-textfield__label"} %>
    <script type="text/javascript">
     function f1() {
    document.getElementById("te").innerHTML = "";
}
window.onload = function() {
    document.getElementById("date").onclick = function fun() {
        f1();
        //validation code to see State field is mandatory.  
    }
}
$('#date').bootstrapMaterialDatePicker(
{
format:"DD-MM-YYYY",
  time:false
}
      );</script>
  </div>
  <%=hidden_field(nil, :patient, :value => @patient_id)%>
  <%=hidden_field(nil, :med_table_id, :value => @medtable_id)%>

   <%= submit_tag 'Save PDF',class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", style:"text-decoration:none;font-size:12px;" %>

<%end%>
<%end%>
</div>
 <div class="mdl-cell mdl-cell--10-col" >
    <h5>Add to Prescription</h5>

<table id="index-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th></th>

      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Type</th>
      <th class="mdl-data-table__cell--non-numeric">Category</th>
      <th class="mdl-data-table__cell--non-numeric">Usage</th>


    </tr>
  </thead>

  <tbody>
    <% Medicine.all.each do |medicine| %>
      <tr>
       <td>

<%= link_to "#chooseMedicineModal", class:"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored","data-toggle" => "modal", style:"bottom:8px;text-decoration:none;font-size:12px;","data-id" => medicine.id,"data-name" => medicine.name, id:"choose-medicine" do %><i class="material-icons">done</i><% end %>  
          
         </td>
        <td class="mdl-data-table__cell--non-numeric"><%= medicine.name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= medicine.m_type %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= medicine.category %></td>       
        <td class="mdl-data-table__cell--non-numeric"><%= medicine.usage %></td>
         
         
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div> 
</div>

<script type="text/javascript">


$(document).ready(function(){
    $('#index-table').dataTable({
    "sPaginationType": "simple_numbers",
    "bPaginate": true,
    "bFilter": true,
    "xScroll": true,
    "bSort": true,
    "sDom": '<"top"flp>rt<"bottom"i><"clear">',

    "aaSorting": [
      [1, "asc"]
    ],
    "aoColumnDefs": [{
      "bSortable": true,
      "aTargets": [1,2,3,4]
    }, {
      "bSortable": false,
      "aTargets": [0]
    }],"aoColumns": [
      { "bSearchable": false },

      null,
      null,
      null,
      null

     
    ] 
  ,"oLanguage": { "sSearch": "" } ,
  "bInfo" : false

});

$('#pre-table').dataTable({
  "oLanguage": { "sSearch": "" } ,
  "bInfo" : false,
  "bPaginate": false,
  "aoColumnDefs": [{
    "bSortable" : false,
    "aTargets" : [2]
  },
  {
    "bSearchable": false,
    "aTargets":[2]
  }]
    });
});</script>
