<style>  
  label,input {
      font: normal 14px roboto !important;
  }
  .field_with_errors{
    background-color: transparent;
  }
  #error_explanation{
    background-color: transparent;
  }

</style>

<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= f.text_field :name,class:"mdl-textfield__input" %>
    <%= f.label :name,class:"mdl-textfield__label" %>

  </div>
  <br/>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= f.text_field :symptoms,class:"mdl-textfield__input"  %>
    <%= f.label :symptoms,class:"mdl-textfield__label" %>

  </div>
  <br/>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= f.text_field :duration,class:"mdl-textfield__input" %>
    <%= f.label :duration,class:"mdl-textfield__label" %>

  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Next',class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect", style:"text-decoration:none;font-size:12px;" %>
    <%= link_to 'Back', templates_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>
<% end %>
