<%= form_for @user, url: users_admin_path(@user)  do |f| %>  
  <fieldset>
    <ol>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :admin %><br />
        <%= f.check_box :admin %>

      </div>

    </ol>
    <p>
     <% if @user.new_record? %>
        <%= f.submit "Create Account" %>
      <% else %>
        <%= f.submit "Update Account" %>
      <% end %>
      <%= link_to "Cancel", users_admin_index_path, class: 'button' %>
    </p>
    </p>
  </fieldset>
<% end %>