<style>  
  label,input {
    font: normal 14px roboto !important;
  }
  .field_with_errors{
    background-color: transparent;
  }
  #error_explanation{
    background-color: transparent;
  }

</style>

<%= form_for @user, url: users_admin_path(@user)  do |f| %>  

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= f.text_field :username, autofocus: true,class:"mdl-textfield__input", id:"user_t"  %>
    <%= f.label :username, class:"mdl-textfield__label", for:"user_t" %>
  </div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
    <%= f.password_field :password, autocomplete: "off", class:"mdl-textfield__input", id:"pass_t"  %>
    <%= f.label :password, class:"mdl-textfield__label", for:"pass_t" %>
  </div>

      
<br />
  <%= f.check_box :admin%>
  <%= f.label :admin %>
 
  <p>
   <% if @user.new_record? %>
      <%= f.submit "Create Account", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    <% else %>
      <%= f.submit "Update Account", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
    <% end %>
    <%= link_to "Cancel", users_admin_index_path, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
  </p>
  
<% end %>