

<section class="section--center mdl-grid mdl-grid--no-spacing">
           
<div class="demo-grid-1 mdl-grid">
  <div class="mdl-cell mdl-cell--6-col" >

    <h5>Listing Patients</h5>


<table id="index-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Age</th>
      <th class="mdl-data-table__cell--non-numeric">Phone Number</th>

      <th class="mdl-data-table__cell--non-numeric">First Check In</th>
      <th ></th>
      <th ><%= link_to new_patient_path, method: :get, id:"add-b",class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect',style:"bottom:20px; z-index: 10;" do %>
<i class="material-icons">add</i>

<% end %><div class="mdl-tooltip" for="add-b">
New Patient
</div></th>

    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        
        <td class="mdl-data-table__cell--non-numeric"><%= patient.name %></td>

        <td><%= patient.age %></td>
        <td><%= patient.phone_number%></td>
        <td class="mdl-data-table__cell--non-numeric"><%= patient.first_check_in %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient),class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored",style:"bottom:8px;text-decoration:none;font-size:12px;" %></td>
        <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' },class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent",style:"bottom:8px;text-decoration:none;font-size:12px;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
          </section>



<script type="text/javascript">$(document).ready(function(){
    $('#index-table').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "bPaginate": false,
    "bFilter": true,
    "bSort": true,
    "sDom": '<"top"flp>rt<"bottom"i><"clear">',
    "aaSorting": [
      [0, "asc"]
    ],
    "aoColumnDefs": [{
      "bSortable": true,
      "aTargets": [0,1]
    }, {
      "bSortable": false,
      "aTargets": [2,3,4,5]
    },{
      "bSearchable": false, 
      "aTargets": [ 4,5 ]

    }]
  ,"oLanguage": { "sSearch": "" },
   "bInfo" : false

});
});</script>