<!DOCTYPE html>
<html>
<head>
  <title>Pharmacy System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <%= csrf_meta_tags %>
  <style>  
label,input {
    font: normal 14px roboto !important;
}

</style>
</head>
<body>
  <style type="text/css">

  </style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <%= link_to "Pharmacy System", root_path,class: "mdl-layout-title",style:"text-decoration:none;color: white; background-color: transparent;"%>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">


        <% if user_signed_in? %>
          <%= link_to "Prescription", prescription_path,class: "mdl-navigation__link",style:"text-decoration:none;color: white;" %>

          <%= link_to "Medicines", medicines_path,class: "mdl-navigation__link",style:"text-decoration:none;color: white;" %>
          <%= link_to "Patients", patients_path,class: "mdl-navigation__link",style:"text-decoration:none;color: white;" %>
          <%if current_user.try(:admin?)%>
              <%= link_to "Users", users_admin_index_path, class: "mdl-navigation__link",style:"text-decoration:none;color: white;" %> 
          <%end%>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "mdl-navigation__link",style:"text-decoration:none;color: white;") %>        
  
<% else %>
  
  <%= link_to('Login', new_user_session_path, class: "mdl-navigation__link",style:"text-decoration:none;color: white;" ) %>  
  
<% end %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Navigation</span>
    <nav class="mdl-navigation">
   
        <% if user_signed_in? %>
                  <%= link_to "Prescription", prescription_path,class: "mdl-navigation__link" ,style:"text-decoration:none;color: black;"%>

  <%= link_to "Medicines", medicines_path,class: "mdl-navigation__link",style:"text-decoration:none;color: black;" %>
        <%= link_to "Patients", patients_path,class: "mdl-navigation__link",style:"text-decoration:none;color: black;" %>
         <%if current_user.try(:admin?)%>
                <%= link_to "Users", users_admin_index_path, class: "mdl-navigation__link",style:"text-decoration:none;color: black;" %> 
            <%end%>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "mdl-navigation__link",style:"text-decoration:none;color: black;") %>        
  
<% else %>
  
  <%= link_to('Login', new_user_session_path, class: "mdl-navigation__link",style:"text-decoration:none;color: black;" ) %>  
  
<% end %>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %><%= yield %> 

</div>
  </main>
</div>
    <!-- Modal -->
<div class="modal fade" id="chooseMedicineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Options</h4>
      </div>
<%= form_tag('/paper/add_to_medicines') do -%>

      <div class="modal-body">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="instructions" id="instructions" />
            <label class="mdl-textfield__label" for="sample1">Instructions</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="duration" id="duration" />
            <label class="mdl-textfield__label" for="duration">Duration (Two weeks, One day, etc..)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="morning" id="morning" pattern="-?[0-9]*(\.[0-9]+)?"/>
            <label class="mdl-textfield__label" for="morning">Morning (Number of Pills)</label>
            <span class="mdl-textfield__error">Input is not a number!</span>

          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="afternoon" id="afternoon" pattern="-?[0-9]*(\.[0-9]+)?" />
            <label class="mdl-textfield__label" for="afternoon">Afternoon (Number of Pills)</label>
            <span class="mdl-textfield__error">Input is not a number!</span>

          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" type="text" name="evening" id="evening" pattern="-?[0-9]*(\.[0-9]+)?" />
            <label class="mdl-textfield__label" for="evening">Evening (Number of Pills)</label>
            <span class="mdl-textfield__error">Input is not a number!</span>

          </div>
          <input type="hidden" name="medid" id="med-id">
          <input type="hidden" name="medtableid" id="medtable-id" value="<%=@medtable_id%>">
          <input type="hidden" name="patient" id="patient" value="<%=@patient_id%>">
          <input type="hidden" name="from_tem" id="from_tem" value="<%=@from_tem%>">
      </div>
      <div class="modal-footer">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-dismiss="modal">Close</button>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Save changes</button>
      </div>
    </div>
  </div>
<% end -%>  
</div> 


<div class="modal fade" id="editMedicineModal" tabindex="-1" role="dialog" aria-labelledby="modal-heading">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-heading"></h4>
      </div>
      <%= form_tag('/paper/add_to_medicines') do -%>

        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-dismiss="modal">Close</button>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Save changes</button>
        </div>
      <% end -%>  

    </div>
  </div>
</div> 

<div class="modal fade" id="showHistoryModal" tabindex="-1" role="dialog" aria-labelledby="modal-heading">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     

        <div class="modal-body mdl-card--border">
        </div>
        <div class="modal-footer">
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-dismiss="modal">Close</button>
          
        </div>

    </div>
  </div>
</div> 






<script type="text/javascript">

$('#chooseMedicineModal').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var medId = $(e.relatedTarget).data('id');
    var medName = $(e.relatedTarget).data('name');
    //populate the textbox
    $('.modal-header #myModalLabel').text(medName);
    document.getElementById("med-id").value = medId;

  });


</script>

</body>


</html>
